.quiz-page-container {
  padding: 20px;
  .loading-quiz-container {
    text-align: center;
  }
  .loading-error-container {
    text-align: center;
    color: red;
    .primary-button {
      width: 290px;
    }
  }
}
