.question-container {
  .question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .category,
    .difficulty-level,
    .stopwatch {
      display: flex;
      align-items: center;
      height: 25px;
      span {
        margin-left: 10px;
      }
    }
  }
  .options-list {
    margin: 20px;
    .question-option {
      width: 90%;
      height: 40px;
      margin-top: 10px;
      line-height: 40px;
      border: 2px solid #fff;
      text-align: center;
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        background-color: #fff;
        font-size: 20px;
        color: #383e4e;
      }
      &.selected {
        background-color: #fff;
        font-size: 20px;
        color: #383e4e;
      }
    }
  }
  .navigation-buttons {
    margin-top: 50px;
    .right-aligned-buttons {
      float: right;
      .primary-button {
        margin-left: 20px;
      }
    }
  }
}
