.results-page-container {
  text-align: center;
  .score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .progressbar-container {
      margin: 30px;
      width: 500px;
      .progressbar-text {
        font-size: 16px;
        .correct {
          color: #90f789;
          float: left;
        }
        .incorrect {
          color: red;
          float: right;
        }
      }
    }
  }
}
