.summary-container {
  padding: 40px;
  .questions-container {
    .questions-input-value {
      height: 35px;
      width: 100%;
    }
  }
  .select-category-container {
    .css-2b097c-container {
      color: #000;
    }
  }

  .select-difficulty-container {
    .css-2b097c-container {
      color: #000;
    }
  }

  .primary-button {
    margin-top: 40px;
  }
}
